<!DOCTYPE html>
<html>
  <head>
    <title>Solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 
  <body>
      <nav class="navbar navbar-default" style="background-color:#75b0ec;">
      <div class="container-fluid">

        <div class="nav navbar-nav">
          <div>
            <%= link_to('Home', :root) %>         
          </div>
          <div>
            <%= render 'devise/menu/registration_items' %>
          </div>

          <div>
            <%= render 'devise/menu/login_items' %>
          </div>
          <div>
            <%= render 'shopping_carts/shopping_cart' %>
          </div>

          <div>
            <p class="notice"><%= notice %></p>
          </div>
          <div>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      </div>
    </nav>




    
    <%= yield %>
  </body>
</html>
